<div class="row">
    <div class="col-sm-12">
        <img class="img-responsive center-block" 
            style="cursor:pointer"
            ng-src="{{vm.images[vm.index].src}}" 
            ng-click="vm.cancelInterval();vm.getInfo();" />
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-left">
        <button class="btn" 
                ng-class="{'btn-primary': vm.index !== vm.firstImage, 'btn-warning': vm.index === vm.firstImage }" 
                ng-click="vm.cancelInterval();vm.prev();">Prev</button>
    </div>
    <div class="col-sm-8">
        <div ng-show="vm.images[vm.index].info">
            <div>Id from server: {{ vm.images[vm.index].info.id }}</div>
            <div>{{ vm.images[vm.index].info.body }}</div>
        </div>
    </div>
    <div class="col-sm-2 text-right">
        <button class="btn" 
                ng-class="{'btn-primary': vm.index !== vm.lastImage, 'btn-warning': vm.index === vm.lastImage }" 
                ng-click="vm.cancelInterval();vm.next();">Next</button>
    </div>
</div>
